*{margin:0px;padding:0px;font-family:arial;}

a:hover{color:#FFF;text-decoration:none;}

.sessao{width:1100px;margin:0 auto;clear:both;height:auto;}
#cabecalho{
	float:left;
	width:100%;
	height:auto;
}
#barraTopo{
	float:left;
	width:100%;
	height:60;
	background: #6D74BA; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkNzRiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzFhYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iIzNiODJjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTdiNjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #6d74ba 0%, #1abe9c 32%, #3b82c0 64%, #1a7b67 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6d74ba), color-stop(32%,#1abe9c), color-stop(64%,#3b82c0), color-stop(100%,#1a7b67)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* IE10+ */
	background: linear-gradient(to right,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d74ba', endColorstr='#1a7b67',GradientType=1 ); /* IE6-8 */

}
#logoPagina{
	width:70px;
	height:70px;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	
}
#tituloPagina{
	width:100%;
	height:30px;
	clear:both;
	color:#000;
	font-size:9pt;
	font-weight:bold;
	margin:37px auto;
	text-align:center;
	float:left;
}
#accordion{
	float:left;
	margin-top:20px;
	width:100%;
}
.ico-grade{background:url("../img/img/ico_grade.png");}
.ico-prof{background:url("../img/img/ico_professores.png");}
.ico-stat{background:url("../img/img/ico_estatisticas.png");}
.ico-config{background:url("../img/img/ico_config.png");}


.roxo{background:#6D74BA;}
.verde{background:#1ABE9C;}
.azul{background:#3B82C0;}
.verde-escuro{background:#1A7B67;}

.ulLista{width:170px;margin:0 auto;float:left;height:100px;margin:5px;}
.ulLista li{list-style:none;width:170px;}
.infoDisciplina{width:20px;height:100%;background:#9473ba;float:right;text-decoration:none;}
.infoDisciplinaIco{width:16px;height:16px;display:block;background:url('../img/exports/ico_info.png') no-repeat; margin:20px auto;}
.divDisciplina{width:170px;height:58px;border-radius:3px;border:1px solid #9473ba;float:left;margin:0px;background:url('../img/exports/fundo_gradiente.jpg') repeat-x;}
.divDisciplina h1{ margin-top:0; font-size:8pt;font-weight:bold;text-transform:uppercase;float:left;padding:5px;width:140px;cursor:pointer;}
.divDisciplinaHolder{width:170px;height:60px;border-radius:3px;border:1px dashed #9473ba;float:left;margin:5px;}
.divDisciplinaHolder h1{font-size:8pt;font-weight:bold;text-transform:uppercase;padding:5px;}
.divDisciplinaHolder h2{font-size:8pt;font-weight:normal;line-height:17px;padding:5px;}
.divDisciplinaHolder li{list-style:none;}
.tituloSemana{font-size:9pt;float:left;width:170px;height:30px;margin-top:15px;text-align:center;margin:5px;text-transform:uppercase;font-weight:bold;}
.titulo1{border-radius:3px;width:97%;background:#F36F21;padding:15px;text-transform:uppercase;color:#fff;font-size:9pt;font-weight:bold;display:block;float:left;margin-bottom:10px;}
* {
    box-sizing: initial !important;
}


.pNormal{
	font-size:8pt;
	text-align:left;
	padding:3px 0 0 3px;
	margin:0;
}

.pBold{
	padding:3px 0 0 3px;
	margin:0;
	font-size:8pt;
	text-align:left;
	font-weight:bold;
}

.logoBranco{
	width:140px;
	height:30px;
	background:red;
	float:left;
	background:url("../img/img/logo_topo.png") no-repeat;
	margin:10px;
	cursor:pointer;
}
.btnPadrao{
	padding:10px;
	border-radius:3px;
	color:#FFF;
	font-size:9pt;
	font-family:arial;
}
.borda-verde{
	border:1px solid #33A8A5;
}

.detalhePerfil{
	border-right:1px solid #c9c9c9;
	height:128px;
	float:left;
	width:350px;
	padding:5px;
	margin: 0 0px 30px 0;
}

.detalhePerfilCurriculo{
	height:128px;
	float:left;
	width:550px;
	padding:5px;
	margin: 0 0px 30px 20px;
}

.disciplinasProf{
	padding:10px;
	border-radius:4px;
	background:#55BA8D;
	color:#FFF;
	font-size:9pt;
	font-weight:bold;
	margin:10px;
	float:left;
}

.descProf{
	background:#f1f1f1;
	background: #f7f7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */

	height:128px;
	float:left;
	width:450px;
	border:1px solid #e5e3e3;
	padding:5px;
	border-radius:4px;
	margin: 0 50px 50px 0;
}
.descProf img{
	border:1px solid #e5e3e3;
	border-radius:3px;
	background:#FFF;
}
.descProf img,.descProf h5,.descProf p{float:left;}
.detalhePerfil img,.detalhePerfil h5{float:left;}


.detalhePerfil h5{
	width:200px;
	font-weight:bold;
	font-size:10pt;
	margin-left:10px;
}

.descProf h5{
	width:300px;
	font-weight:bold;
	font-size:10pt;
	margin-left:10px;
}

.descProf p{
	width:310px;
	height:45px;
	font-size:9pt;
	margin-left:10px;
}

#buscaProcessor{
	width:80%;
	height:35px;
	border:1px solid #c9c9c9;
	border-radius:4px;
	font-size:9pt;
	color:#333333;
	padding:2px;
	background:#f7f7f7;
}
.descProf  .divSocial{
	width:200px;
	height:30px;
	float:left;
	margin: 5px 0 0 10px;
}


.detalhePerfil  .divSocial{
	width:200px;
	height:30px;
	float:left;
	margin: 5px 0 0 10px;
}

.logo-social{
	cursor:pointer;
	margin:5px;
	width:20px;
	height:20px;
	float:left;
	display:block;
}
.logo-face{
	background:url("../img/img/facebook.png") no-repeat;
}
.logo-in{
	background:url("../img/img/linkedin.png") no-repeat;
}
.logo-twitter{
	background:url("../img/img/twitter.png") no-repeat;
}
.logo-google{
	background:url("../img/img/google.png") no-repeat;
}