*{margin:0px;padding:0px;font-family:arial;}

.sessao{width:950px;margin:0 auto;clear:both;height:auto;}
#cabecalho{
	margin-bottom:50px;
	float:left;
	width:100%;
	height:60px;
	background: #2285d6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkNzRiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzFhYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iIzNiODJjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTdiNjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #6d74ba 0%, #1abe9c 32%, #3b82c0 64%, #1a7b67 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6d74ba), color-stop(32%,#1abe9c), color-stop(64%,#3b82c0), color-stop(100%,#1a7b67)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* IE10+ */
	background: linear-gradient(to right,  #6d74ba 0%,#1abe9c 32%,#3b82c0 64%,#1a7b67 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d74ba', endColorstr='#1a7b67',GradientType=1 ); /* IE6-8 */

}
#logo{width:395px;height:88px;background:url("../img/img/logo_intro.png");float:left;margin-top:50px;margin-right:50px;}
#divDescricao{width:500px;height:auto;float:left;}
#divDescricao p{padding:10px;font-size:9pt;text-align:justify;}
.negrito{font-weight:bold;}
.bloco{width:200px;height:300px;float:left;margin-right:20px;}
.txtBloco{width:98%;float:left;font-size:9pt;text-align:justify;line-height:20px;margin-bottom:20px;padding:2px;}
.btn{
	text-decoration: none;
	font-size: 9pt;
	border-radius: 4px;
	color: #FFF;
	display: block;
	width: 65%;
	height: 27px;
	margin: 20px auto;
	clear: both;
	padding-left: 70px;
	padding-top: 13px;
}
.cabecalhoTexto{width:100%;height:90px;float:left;border-radius:4px;margin-bottom:15px;margin-top:35px;}
.logoTexto{width:70px;height:70px;position:absolute;z-index:100;margin-left:65px;}
.tituloBloco{width:200px;height:auto;position:absolute;z-index:100;color:#FFF;text-transform:uppercase;margin-top:80px;text-align:center;}

.ico-grade{background:url("../img/img/ico_grade.png");}
.ico-prof{background:url("../img/img/ico_professores.png");}
.ico-stat{background:url("../img/img/ico_estatisticas.png");}
.ico-config{background:url("../img/img/ico_config.png");}

.roxo{background:#6D74BA;}
.verde{background:#1ABE9C;}
.azul{background:#3B82C0;}
.verde-escuro{background:#1A7B67;}

